{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <header class="navbar navbar-header navbar-header-fixed">
        <a href="" id="sidebarMenuOpen" class="burger-menu"><i data-feather="arrow-left"></i></a>
        <div class="navbar-brand">
            <a href="../index.html" class="df-logo">Cefi<span>ob</span></a>
        </div><!-- navbar-brand -->
    </header><!-- navbar -->

    <div class="content content-components">
        <div class="container">

            <div data-label="Fiche" class="df-example demo-forms">
                <div class="row row-sm">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Nom">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Prénom">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Né(e) le ">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Lieu de naissance  ">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Adresse">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Société immatriculée au R.C.S ">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Adresse du siège ">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="No d’identification ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->
{% endblock %}
