{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <header class="navbar navbar-header navbar-header-fixed">
        <a href="" id="sidebarMenuOpen" class="burger-menu"><i data-feather="arrow-left"></i></a>
        <div class="navbar-brand">
            <a href="../index.html" class="df-logo">Cefi<span>ob</span></a>
        </div><!-- navbar-brand -->
    </header><!-- navbar -->

    <div class="content content-components">
        <div class="container">

      </div><!-- container -->
        <div class="container">
            <form class="form-horizontal"   role="form" action="/generation" method="post" enctype="multipart/form-data">
            <div data-label="Fiche" class="df-example demo-forms">
                <div class="row row-sm">
                    <div class="col-sm-6 my-1">
                        <input type="text" class="form-control" placeholder="Nom" name="nom">
                    </div>
                    <div class="col-sm-6 my-1">
                        <input type="text" class="form-control" placeholder="Prénom" name="prenom">
                    </div>
                    <div class="col-sm-6 my-1">
                        
                        <input type="text" class="form-control" placeholder="Choose date" id="datepicker5" name="naisssance">
                        
                    </div>
                    <div class="col-sm-6 my-1">
                        <input type="text" class="form-control" placeholder="Lieu" name="lieu">
                    </div>
                    <div class="col-sm-6 my-1">
                        <input type="text" class="form-control" placeholder="Adresse" name="adresse">
                    </div>
                    <div class="col-sm-6 my-1">
                        <input type="text" class="form-control" placeholder="Société immatriculée au R.C.S " name="societe">
                    </div>
                    <div class="col-sm-6 my-1">
                        <input type="text" class="form-control" placeholder="Adresse du siège " name="adresses_siege">
                    </div>
                    <div class="col-sm-6 my-1">
                        <input type="text" class="form-control" placeholder="No d’identification" name="numero-identification">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
            </form>
        </div>
    </div>
    
{% endblock %}

